<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988432316750-anci0kprdlte9ll7rp2hb5rihag04liu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346040314634-p5nprpkksv8g6o3g0rt63vrk99uh7b5f</string>
	<key>API_KEY</key>
	<string>AIzaSyATozybKhREUYW__VLBEuS07ZCmWan536A</string>
	<key>GCM_SENDER_ID</key>
	<string>346040314634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rolley.app</string>
	<key>PROJECT_ID</key>
	<string>rolley-7af44</string>
	<key>STORAGE_BUCKET</key>
	<string>rolley-7af44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:346040314634:ios:bed5dad2ea993d504768f3</string>
</dict>
</plist>
